<h1>Add a new sighting:</h1>

<%= form_for [@animal, @sighting] do |f| %>
  <%= f.label :latitude %>
  <%= f.number_field :latitude, :required => true%>
  <%= f.label :longitude %>
  <%= f.number_field :longitude, :required => true%>
  <%= f.label :date %>
  <%= f.date_field :date, :required => true%>
  <p><%= f.submit %></p>
<% end %>